[Desktop Entry]
Type=Application
Exec=gnome-terminal --command "tmux attach -t monitoring"
Hidden=false
X-GNOME-Autostart-enabled=true
Name=Monitoring Terminal
Comment=
